{% macro page_list_as_links(base_page) %}
  {% for page in base_page.children.visible %}
    {% set current_page = (page.active or page.activeChild) ? 'uk-active' : '' %}
      <li><a class="{{ current_page }}" href="{{ page.url }}">
        {% if page.header.icon %}<i class="uk-icon-{{ page.header.icon }}"></i>{% endif %}
        {{ page.menu }}
      </a></li>
  {% endfor %}