{% embed 'partials/base.html.twig' %}

{% set collection = page.collection() %}
{% set collection_type = page.header.list_of %} {# 'type' or 'event' #}

{% set taxlist = taxonomylist.get() %}
{% set taglist = [] %}
{% if taxlist %}
  {% for tax,value in taxlist['tag'] %}
    {% set taglist = taglist|merge([tax])%}
  {% endfor %}
  {% set taglist = taglist|sort %}
{% endif %}


{% block head %}

{{ parent() }}


<style type="text/css">
/* Transition fix for Semantic UI Cards & Isotope filtering */
.ui.cards > .card, .ui.card {
    transition: none;
}
</style>

{% endblock %}

{% block content %}

{{ page.content }}

{% if taglist %}
<div class="uk-grid-divider"></div>

<!-- button filter list -->
<ul id="filter" class="uk-subnav uk-subnav-pill">
  <li class="uk-active" data-uk-filter=""><a href="#"><i class="uk-icon-tag"></i> All</a></li>
  {% for tag in taglist %}
  <li data-uk-filter="tag-{{tag|replace(' ','-')}}"><a href="#">{{ tag }}</a></li>
  {% endfor %}
</ul>
{% endif %}
<!-- end button filter list -->

<div class="uk-grid-divider"></div>

<!-- blocks (filterable) -->
{% if collection_type == 'type' %} 
<div class="uk-grid-width-small-1-1 uk-grid-width-medium-1-2 uk-grid-width-large-1-3" data-uk-grid="{gutter: 20, controls: '#filter'}">
{% else %}
<div class="uk-grid-width-small-1-1 uk-grid-width-medium-1-2 uk-grid-width-large-1-4" data-uk-grid="{gutter: 20, controls: '#filter'}">

{% endif %}

{% for child in collection %}
  {% include 'partials/workshop_%s_item.html.twig'|format(collection_type) with {'list':page, 'page':child, 'truncate':true} %}
{% endfor %}
</div>
<!-- end blocks (filterable) -->

{% endblock %}

{% endembed %}


