{% embed 'partials/base.html.twig' %}

{% set collection = page.collection() %}
{% set collection_type = page.header.list_of %} {# 'type' or 'event' #}

{% set taxlist = taxonomylist.get() %}
{% set taglist = [] %}
{% if taxlist %}
  {% for tax,value in taxlist['tag'] %}
    {% set taglist = taglist|merge([tax])%}
  {% endfor %}
  {% set taglist = taglist|sort %}
{% endif %}


{% block head %}

{{ parent() }}


<style type="text/css">
/* Transition fix for Semantic UI Cards & Isotope filtering */
.ui.cards > .card, .ui.card {
    transition: none;
}
</style>

{% endblock %}

{% block content %}

{{ page.content }}

<!-- button filter list -->
{% if taglist %}
<div class="ui horizontal divider"></div>

<div id="filters" class="ui buttons">
  <button class="ui basic button active" data-filter="*">All</button>
  {% for tag in taglist %}
  <button class="ui basic button" data-filter=".tag-{{tag|replace(' ','-')}}">{{ tag }}</button>
  {% endfor %}
</div>
{% endif %}
<!-- end button filter list -->

<div class="ui horizontal divider"></div>

<!-- cards list (filterable) -->
<div class="segment">
  {% if collection_type == 'type' %} 
    <div class="ui cards isotope">
  {% else %}
  <div class="ui items isotope">
  {% endif %}
  {% for child in collection %}
    {% include 'partials/workshop_%s_item.html.twig'|format(collection_type) with {'list':page, 'page':child, 'truncate':true} %}
  {% endfor %}
  </div>
</div>
<!-- end cards list (filterable) -->

{% endblock %}

{% endembed %}


